$back: #dec3c3;
$grey: 	#aaaaaa;
$light-orange: #f9caa7;

body {
	margin: 0 auto;
	background-color: $back;
}
.contactForm {
	display: inline-block;
	height: 200px;
	position: relative;
	top: 30px;
	input {
		padding: 10px;
		margin: 10px 15%;
		width: 50%;
		height: 10px;
		position: relative;
	}
	
	button {
		background-color: $light-orange;
		float: right;
		margin-right: 15%;
		height: 30px;
		width: 120px;
		position: absolute;
		top:120px;
	}
}
.contactsList { 
	position: relative;
	top: 20px;
	.contactItem {
		margin: 20px auto;
		padding: 20px;
		border: 2px solid #fff;
		background-color: $grey;
		height:120px;
		width: 70%;

		.contactImage {
			display:block;
			height: 120px;
			width: 120px;
			padding: 0 20px;
			float: left;	
		}
		.contactLabel {
			display: block;
			position: relative;
			left: 15%;
			color: white;
			font-size: 16px;
		}
		.contactEmail {
			@extend .contactLabel;
			text-decoration: none;
			color: black;
		}
	}
}